/*
  body {
  background: linear-gradient(25deg, #ffd745 50%, #2ba8e0 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  } */

.height_full{
  background: linear-gradient(25deg, #ffd745 50%, #2ba8e0 50%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.width_custom{
  width: 40%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.width_mobile{
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .width_custom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .width_mobile{
    width: 40%;
  }
}

