<div class="col-md-12 not_spaces">
  <div class="row not_spaces">

    <div class="col text-center menu_option_1" (click)="selectOptionReservation(1)">
      <span class="menu_text"><fa-icon [icon]="iconRestaurant"></fa-icon>
        <br>Restaurant Reservations</span>
    </div>

    <div class="col text-center menu_option_2" (click)="selectOptionReservation(2)">
      <span class="menu_text"><fa-icon [icon]="iconSwwinming"></fa-icon>
        <br>Excursions Reservations</span>
    </div>

    <div class="col text-center menu_option_3" (click)="selectOptionReservation(3)">
      <span class="menu_text"><fa-icon [icon]="iconplane"></fa-icon><br> Flight
        Information</span>
    </div>

    <!-- <div class="col text-center menu_option_4" (click)="selectOptionReservation(4)">
      <span class="menu_text"><fa-icon [icon]="iconuser"></fa-icon> <br>Significant Other Reservations</span>
    </div> -->

    <div class="col text-center menu_option_5" (click)="selectOptionReservation(5)">
      <span class="menu_text"><fa-icon [icon]="iconNotes"></fa-icon><br> Agenda / Reminder Notes</span>
    </div>

    <div class="col text-center menu_option_6" (click)="selectOptionReservation(6)">
      <span class="menu_text"><fa-icon [icon]="iconNotes"></fa-icon><br> Notifications</span>
    </div>

    <div class="col text-center menu_option_7" (click)="selectOptionReservation(7)">
      <span class="menu_text"><fa-icon [icon]="iconplane"></fa-icon><br> Visitax</span>
    </div>
  </div>
</div>

<div class="col-md-12" style="background-color: #e6e6e6;">

  <div class="row" style="height: 100%;background-color: #e6e6e6;padding: 15px 40px;">

    <div class="col-md-12" *ngIf="selectOption == 1">
      <div class="col-md-12 text-center pt-4" style="">
        <h2 style="font-weight: 600;">Welcome {{userInfo?.name | titlecase }} {{userInfo?.lastname | titlecase }}
          <fa-icon [icon]="faHand" style=""></fa-icon> </h2>
      </div>

      <div *ngIf="event_id != 9 && event_id != 10">
        <div class="row col-md-12 shadow mt-5 card-restaurant" *ngFor="let item of dataReservationsOwner; let i = index;">
          <div class="col-md-12 text-center" style="padding: 10px 0px">
            <span style="font-size: 20px;" *ngIf="item.type_participant == 'owner'"><span
                *ngIf="item.type_Reservation == 2">Reservation</span> <span
                *ngIf="item.type_Reservation == 1">Reservation</span></span>
            <span style="font-size: 20px;" *ngIf="item.type_participant == 'companion'"><span
                *ngIf="item.type_Reservation == 2">Reservation</span> <span
                *ngIf="item.type_Reservation == 1">Reservation</span></span>
          </div>
          <hr>

          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">#Ticket:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.id}}</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Restaurant:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.name_restaurant}}</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Host:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.name}} {{item.lastName}}</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Guest:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.companion_name}}
              {{item.companion_lastname}}</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Date:</span>
            <br>
            <span style="font-size: 18px;">{{item.date_Reservation | date: 'MM-dd-YYYY'}}</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Pick Up:</span>
            <br>
            <span style="font-size: 18px;">{{item.pickUp}} PM</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Reservation:</span>
            <br>
            <span style="font-size: 18px;">{{item.time_Reservation}} PM</span>
          </div>
          <div class="col-sm-12 col-md" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <button class="btn background_primary text-white" *ngIf="item.type_participant == 'owner'"
              (click)="showModalListCompanion(item.id, item.date_Reservation)">Attendee list</button>
            <button class="btn background_primary text-white" *ngIf="item.type_participant != 'owner'"
              (click)="showModalListCompanionView(item.id, item.date_Reservation)">Attendee list</button>
          </div>
        </div>
      </div>

      <div *ngIf="event_id == 9 || event_id == 10">
        <div class="row col-md-12 shadow mt-5 card-restaurant" *ngFor="let item of dataReservationsOwner; let i = index;">
          <div class="col-md-12 text-center" style="padding: 10px 0px">
            <span style="font-size: 20px;" *ngIf="item.type_participant == 'owner'"><span
                *ngIf="item.type_Reservation == 2">Reservation</span> <span
                *ngIf="item.type_Reservation == 1">Reservation</span></span>
            <span style="font-size: 20px;" *ngIf="item.type_participant == 'companion'"><span
                *ngIf="item.type_Reservation == 2">Reservation</span> <span
                *ngIf="item.type_Reservation == 1">Reservation</span></span>
          </div>
          <hr>

          <!-- <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">#Ticket:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.id}}</span>
          </div> -->
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Restaurant:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.name_restaurant}}</span>
          </div>
          <!-- <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Host:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.name}} {{item.lastName}}</span>
          </div> -->
          <!-- <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Guest:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.companion_name}}
              {{item.companion_lastname}}</span>
          </div> -->
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Date:</span>
            <br>
            <span style="font-size: 18px;">{{item.date_Reservation | date: 'MM-dd-YYYY'}}</span>
          </div>
          <div class="col-sm-12 col-md" *ngIf="item.pickUp != ''">
            <span style="font-size: 14px;">Pick Up:</span>
            <br>
            <span style="font-size: 18px;">{{item.pickUp}}</span>
          </div>
          <div class="col-sm-12 col-md">
            <span style="font-size: 14px;">Reservation:</span>
            <br>
            <span style="font-size: 18px;">{{item.time_Reservation}}</span>
          </div>
          <!-- <div class="col-sm-12 col-md" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <button class="btn background_primary text-white" *ngIf="item.type_participant == 'owner'"
              (click)="showModalListCompanion(item.id, item.date_Reservation)">Attendee list</button>
            <button class="btn background_primary text-white" *ngIf="item.type_participant != 'owner'"
              (click)="showModalListCompanionView(item.id, item.date_Reservation)">Attendee list</button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="selectOption == 2">
      <div class="col-md-12 text-center pt-4" style="">
        <h2 style="font-weight: 600;">Welcome {{userInfo?.name | titlecase }} {{userInfo?.lastname | titlecase }}
          <fa-icon [icon]="faHand" style=""></fa-icon> </h2>
      </div>
      <div class="row col-md-12 mt-4">
        <div class="col-md-6 mt-4" *ngFor="let item of dataActivity;">
          <div class="wrapper">
            <div class="booking-card-wrapper">
              <div class="booking-card-image">
                <img class="booking-card-image" src="{{item.url}}" />
              </div>
              <div class="booking-card-content">
                <div class="booking-card-description">
                  <!-- <h1>Booking Data</h1> -->
                  <p><span class="mt-2" style="font-weight: 600;">Name:</span> {{item.lastName}} {{item.name}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Activity Name:</span> {{item.name_activity}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Date and Time:</span>
                    {{item.date_Reservation | date: 'EEEE, MMMM d, y' }} / {{item.time_Reservation | format12hours}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Hotel:</span> {{item.hotel_Name}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div class="col-md-12 text-center pt-4" style="" *ngIf="isViewCompanion == true">
        <h2 style="font-weight: 600;">Guest {{dataInformationCompanionEmail.name_companion | titlecase }} <fa-icon
            [icon]="faHand" style=""></fa-icon> </h2>
      </div>
      <div class="row col-md-12 mt-4" *ngIf="isViewCompanion == true">
        <div class="col-md-12 mt-3">
          <div class="col-md-12 text-center" style="font-size: 24px;font-weight: 500;">Excursions Reservations</div>
        </div>
        <div class="col-md-6 mt-4" *ngFor="let item of dataActivityCompanion;">
          <div class="wrapper">
            <div class="booking-card-wrapper">
              <div class="booking-card-image">
                <img class="booking-card-image" src="{{item.url}}" />
              </div>
              <div class="booking-card-content">
                <div class="booking-card-description">
                  <!-- <h1>Booking Data</h1> -->
                  <p><span class="mt-2" style="font-weight: 600;">Name:</span> {{item.lastName}} {{item.name}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Activity Name:</span> {{item.name_activity}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Date and Time:</span>
                    {{item.date_Reservation | date: 'EEEE, MMMM d, y' }} / {{item.time_Reservation  | format12hours }} </p>
                  <p class="mt-1"><span style="font-weight: 600;">Hotel:</span> {{item.hotel_Name}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-12" *ngIf="selectOption == 3">
      <div class="col-md-12 text-center pt-4" style="">
        <h2 style="font-weight: 600;">{{userInfo?.name | titlecase }} {{userInfo?.lastname | titlecase }}
          <fa-icon [icon]="faHand" style=""></fa-icon> </h2>
      </div>
      <div class="row col-md-12 mt-4">
        <div class="col-md-6">
          <div class="wrapper">
            <div class="booking-card-wrapper">
              <div class="booking-card-image">
                <img class="booking-card-image" src="../../../assets/img/arrival.png" />
              </div>
              <div class="booking-card-content">
                <div class="booking-card-description">
                  <h1>Departure Information</h1>
                  <p class="mt-1" style="font-weight: 800;"><span style="font-weight: 800;">Departure from hotel:</span>
                    {{dataInformationDeparture.departure_Time_Appointment | format12hours}}</p>
                  <p><span class="mt-2" style="font-weight: 600;">Name:</span> {{dataInformationDeparture.lastname}}
                    {{dataInformationDeparture.name}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Departing from:</span>
                    {{dataInformationDeparture.name_hotel}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Departure Date and Time:</span>
                    {{dataInformationDeparture.departure_Date | date: 'EEEE, MMMM d, y'}} /
                    {{dataInformationDeparture.departure_Time | format12hours}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Airline & Flight No:</span>
                    {{dataInformationDeparture.name_airline}} & #{{dataInformationDeparture.flight_Number}}</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center pt-4" style="" *ngIf="isViewCompanion == true">
        <h2 style="font-weight: 600;">Guest {{dataInformationCompanionEmail.name_companion | titlecase }} <fa-icon
            [icon]="faHand" style=""></fa-icon> </h2>
      </div>

      <div class="row col-md-12 mt-4 mb-4" *ngIf="isViewCompanion == true">
        <div class="col-md-12 mt-3 mb-3">
          <div class="col-md-12 text-center" style="font-size: 24px;font-weight: 500;">Flight Reservations</div>
        </div>

        <div class="col-md-6">
          <div class="wrapper">
            <div class="booking-card-wrapper">
              <div class="booking-card-image">
                <img class="booking-card-image" src="../../../assets/img/arrival.png" />
              </div>
              <div class="booking-card-content">
                <div class="booking-card-description">
                  <h1>Departure Information</h1>
                  <p class="mt-1" style="font-weight: 800;"><span style="font-weight: 800;">Pick Up:</span>
                    {{dataInformationDepartureCompanion.departure_Time_Appointment | format12hours}}</p>
                  <p><span class="mt-2" style="font-weight: 600;">Name:</span> {{dataInformationDepartureCompanion.lastname}}
                    {{dataInformationDepartureCompanion.name}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Hotel Departure:</span>
                    {{dataInformationDepartureCompanion.name_hotel}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Date and Time Departure:</span>
                    {{dataInformationDepartureCompanion.departure_Date | date: 'EEEE, MMMM d, y'}} /
                    {{dataInformationDepartureCompanion.departure_Time | format12hours}}</p>
                  <p class="mt-1"><span style="font-weight: 600;">Airline@No.Flight:</span>
                    {{dataInformationDepartureCompanion.name_airline}} @ #{{dataInformationDepartureCompanion.flight_Number}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-12" *ngIf="selectOption == 4">
      <div class="col-md-12 text-center pt-4" style="" *ngIf="isViewCompanion == true">
        <h2 style="font-weight: 600;">Guest {{dataInformationCompanionEmail.name_companion | titlecase }} <fa-icon
            [icon]="faHand" style=""></fa-icon> </h2>
      </div>
      <div class="row col-md-12 mt-4" *ngIf="isViewCompanion == true">
        <div class="col-md-12">
          <div class="col-md-12 text-center" style="font-size: 24px;font-weight: 500;">Restaurant Reservations</div>
        </div>
        <div class="row col-md-12 shadow mt-3"
          style="padding: 10px 20px 10px 20px;border: 1px solid #ede0e0;margin: 0px;border-radius: 5px;"
          *ngFor="let item of dataResertaurantReservation; let i = index;">
          <div class="col-md-12 text-center" style="padding: 10px 0px">
            <span style="font-size: 20px;" *ngIf="item.type_participant == 'owner'"><span
                *ngIf="item.type_Reservation == 2">Reservation</span> <span
                *ngIf="item.type_Reservation == 1">Reservation</span></span>
            <span style="font-size: 20px;" *ngIf="item.type_participant == 'companion'"><span
                *ngIf="item.type_Reservation == 2">Reservation</span> <span
                *ngIf="item.type_Reservation == 1">Reservation</span></span>
          </div>
          <hr>
          <div class="col-md-3">
            <span style="font-size: 14px;">Restaurant:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.name_restaurant}}</span>
          </div>
          <div class="col-md-3">
            <span style="font-size: 14px;">Host:</span>
            <br>
            <span class="color_primary" style="font-size: 18px;">{{item.name}} {{item.lastName}}</span>
          </div>
          <div class="col-md-2">
            <span style="font-size: 14px;">Date:</span>
            <br>
            <span style="font-size: 18px;">{{item.date_Reservation | date: 'MM-dd-YYYY'}}</span>
          </div>
          <div class="col-md-2">
            <span style="font-size: 14px;">Hour:</span>
            <br>
            <span style="font-size: 18px;">{{item.time_Reservation}} PM</span>
          </div>
          <div class="col-md-2"
            style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
            <button class="btn background_primary text-white" *ngIf="item.type_participant == 'owner'"
              (click)="showModalListCompanion(item.id, item.date_Reservation)">Attendee list</button>
            <button class="btn background_primary text-white" *ngIf="item.type_participant != 'owner'"
              (click)="showModalListCompanionView(item.id, item.date_Reservation)">Attendee list</button>
          </div>
        </div>
      </div>


      <div class="text-center" *ngIf="isViewCompanion == false">
        <h2 style="font-weight: 600;">No companion</h2>
      </div>
    </div>

    <div class="col-md-12" *ngIf="selectOption == 5">

      <div *ngFor="let item of dataEvent">
        <div class="text-center mb-4" style="font-size: 24px;font-weight: 600;">{{item?.name}}</div>
        <pdf-viewer [src]="item?.url"
              [render-text]="true"
              [original-size]="false"
              style="width: 100%; height: 500px"
        ></pdf-viewer>
      </div>

      <!-- <div class="row col-md-12 mt-4">
        <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 100%; height: 500px"
        ></pdf-viewer> -->
    </div>

    <div *ngIf="selectOption == 6">

      <div class="col-md-12 text-center pt-4" style="">
        <h2 style="font-weight: 600;">Welcome {{userInfo?.name | titlecase }} {{userInfo?.lastname | titlecase }}
          <fa-icon [icon]="faHand" style=""></fa-icon> </h2>
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col-md-4">#</th>
            <th scope="col-md-4">Title</th>
            <th scope="col-md-4">Message</th>
            <th scope="col-md-4">Event</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of notifications; let i = index">
            <th>{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.message}}</td>
            <td *ngIf="event_id  == 5">Aston Carter Cancun</td>
            <td *ngIf="event_id  == 1">Aerotek Cancun</td>
            <td *ngIf="event_id  == 9">Aerotek RCT</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12" *ngIf="selectOption == 7">

    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">

      <img *ngIf="event_id == 1" src="../../../assets/img/qrvisitaxaerotek.png" alt="" width="400">
      <img *ngIf="event_id == 9" src="../../../assets/img/qrvisitaxaerotek.png" alt="" width="400">
      <img *ngIf="event_id == 5" src="../../../assets/img/qrvisitaxaston.png" alt="" width="400">

      <h2>To pay the visitax, please go to <a href="https://www.visitax.gob.mx/sitio/">https://www.visitax.gob.mx/sitio/</a></h2>
    </div>

      <!-- <div class="row col-md-12 mt-4">
        <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 100%; height: 500px"
        ></pdf-viewer> -->
    </div>
  </div>
</div>
