/* color palette from https://dribbble.com/shots/4383922-Sprained-Ankle-Triptych */
/* colors named with http://chir.ag/projects/name-that-color/#171714 */
:root {
  --spring-wood: #FEFEFD;
  --rangoon-green: #171714;
  --jet-stream: #ABCDCA;
  --pewter: #9FAAA0;
  --hippie-blue: #62A3B5;
  --faded-jade: #3D7674;
  --fuscous-gray: #585B4E;
  --leather: #907B55;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--jet-stream);
  font-family: 'Tajawal', sans-serif;
  color: var(--rangoon-green);
}

.booking-card-wrapper {
  height: 200px;
  width: 95%;
  background-color: var(--spring-wood);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
}

@media only screen and (max-width: 600px) {
  .booking-card-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
  }
}

.booking-card-image {
  flex: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.price {
  font-weight: 700;
}

.booking-card-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.booking-card-description {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.booking-card-description h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0px;
  color: hsle(0, 0%, 13%)
}

.booking-card-details {
  flex: 1;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #e4e4e3;
}

i.fa-star {
  color: var(--faded-jade);
  font-size: 16px;
}

.reviews {
  font-size: 10px;
  color: hsl(0, 0%, 45%);
  margin-top: 5px;
}

.reviews .amount {
  padding-left: 3px;
}

.side-note {
  margin-top: 10px;
  font-size: 10px;
  color: hsl(0, 0%, 45%);
}

button {
  outline: none;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .575rem .95rem;
  border-radius: .25rem;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2);
}

button:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--hippie-blue);
  color: var(--spring-wood);
  font-weight: 700;
}

.right-align {
  margin: auto auto;
}

.flex {
  display: flex;
}


.menu_option_1 {
  background-color: #5e85ce;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_option_2 {
  background-color: #4671bf;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_option_3 {
  background-color: #53bdf7;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_option_4 {
  background-color: #2c5093;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_option_5 {
  background-color: #1684bf;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_option_6 {
  background-color: #3cb1f0;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_option_7{
  background-color: #068bd3;
  padding: 20px 0px;
  cursor: pointer;
}

.menu_text {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .menu_text {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
  }

  .menu_option_1 {
    background-color: #5e85ce;
    padding: 20px 15px;
    cursor: pointer;
  }

  .menu_option_2 {
    background-color: #4671bf;
    padding: 20px 15px;
    cursor: pointer;
  }

  .menu_option_3 {
    background-color: #53bdf7;
    padding: 20px 15px;
    cursor: pointer;
  }

  .menu_option_4 {
    background-color: #2c5093;
    padding: 20px 15px;
    cursor: pointer;
  }

  .menu_option_5 {
    background-color: #1684bf;
    padding: 20px 15px;
    cursor: pointer;
  }

  .menu_option_6{
    background-color: #1684bf;
    padding: 20px 15px;
    cursor: pointer;
  }
}
